.products-text {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: getColorFromPalette('accent', 'additional');
}
.section-titles {
  margin-bottom: 8px;

  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}
.product-cards_item {
  position: relative;

  width: 280px;
  height: 629px;
  outline: 1px solid tomato;
  margin: 0 auto;
}
.thumb {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 280px;
  height: 489px;

  background: #ffb8ca;
  border-radius: 24px;
}
.thumb::before {
  position: absolute;
  bottom: 349px;
  left: 0;

  content: '';
  width: 280px;
  height: 280px;

  background-image: url(../images/home-pic1.png);
}
.product-cards_title {
  position: absolute;
  bottom: 306px;
  left: 53px;

  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}
