$colorPalette: (
  'primary': ('additional': #907e82,
    'dark': #000,
    'light': #fff,
  ),
  'accent': ('additional': #ffa5ba,
    'dark': #d41443,
    'light': #ffb8ca,
  ),
  'background': ('additional': #c2e297,
    'dark': #f0d1a5,
    'light': #fff5f6,
  ),
  'icons': ('main': #fea5bb,
  ),
  'decoration': ('additional': #fafafa,
    'main': #e1e1e1,
  ),
  'hovered': ('additional': #9a092c,
    'main': #ecebeb,
  ),
  'menu': ('additional': #e18298,
    'main': #e17992,
  ),
);

$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1200px,
);

$containerLRPaddings: 15px;
$containerLRPaddingsMobile: 20px;

$transitionData: (
  'time': 250ms,
  'timeFunction': cubic-bezier(0.4, 0, 0.2, 1),
);

$primaryFont: 'Titan One', sans-serif;
$secondaryFont: 'DM Sans', sans-serif;