.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  font-family: 'DM Sans';
  color: getColorFromPalette('primary', 'additional');
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  z-index: 100;
  // transition: opacity var(--transition-main), visibility var(--transition-main);
}
.order__form {
  text-align: center;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 564px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: getColorFromPalette('primary', 'light');
  border-radius: 10px;
  // transition: transform var(--transition-main);
  // transition-duration: 450ms;
  // .back-drop.is-hidden & {
  //   transform: translate(-50%, -50%) scale(0.2) rotate(-90deg);
  // }
}
.modal__list {
  @extend %unmarked-list;
}
.modal__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColorFromPalette('accent', 'dark');
}
.modal__button_close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: getColorFromPalette('primary', 'light');
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}
.modal__svg_close {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  transition: color var(--transition-main);
  .modal__button_close:focus &,
  .modal__button_close:hover & {
    color: getColorFromPalette('accent', 'dark');
  }
}

.modal__list_contacts {
  text-align: start;
}

.modal__field {
  height: 40px;
  width: 100%;
  border: 1px solid
    rgba(getColorFromPalette('primary', 'additional'), $alpha: 0.4);
  border-radius: 4px;
  padding-left: 12px;
  outline: none;
  &:hover,
  &:focus {
    border-color: getColorFromPalette('hovered', 'additional');
  }
}

.radio__list {
  display: flex;
  justify-content: space-around;
  text-align: start;
}
.radio__item {
  height: 100px;
  display: flex;
  flex-direction: column;
}
.radio__item_one {
}
.radio__title {
  font-weight: 700;
}
.radio__label::before {
  display: inline-block;
  content: '';
  outline-width: 3px;
  margin-right: 7px;
  // background-image: url(../images/index/modal-window/checkbox-img.png);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: 50% 50%;
  width: 17px;
  height: 17px;
  border: 1px solid getColorFromPalette('primary', 'additional');
  border-radius: 50%;
  background-color: transparent;
}
.radio__input {
  @extend %visually-hidden;
}
.radio__label_pink::before {
  .radio__input:checked + & {
    background-color: #ffb8ca;
  }
  .radio__input:focus + & {
    border-color: #ffb8ca;
  }
}
.radio__label_yellow::before {
  .radio__input:checked + & {
    background-color: #f0d1a5;
  }
  .radio__input:focus + & {
    border-color: #f0d1a5;
  }
}
.radio__label_green::before {
  .radio__input:checked + & {
    background-color: #c2e297;
  }
  .radio__input:focus + & {
    border-color: #c2e297;
  }
}
.policy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.policy__link {
  color: getColorFromPalette('accent', 'dark');
  &:hover,
  &:focus {
    color: getColorFromPalette('hovered', 'additional');
  }
}
.policy__text::before {
  content: '';
  display: inline-block;
  outline-width: 3px;
  margin-right: 7px;
  // background-image: url(../images/index/modal-window/checkbox-img.png);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: 50% 50%;
  width: 16px;
  height: 15px;
  border: 1px solid getColorFromPalette('primary', 'additional');
  border-radius: 2px;
  background-color: transparent;
  .policy__checkbox:checked + & {
    background-color: getColorFromPalette('accent', 'dark');
  }
  .policy__checkbox:focus + & {
    border-color: getColorFromPalette('hovered', 'additional');
  }
}
.policy__checkbox {
  @extend %visually-hidden;
}
