.about {
  background-color: getColorFromPalette('background','light');
  padding-top: 40px;
  padding-bottom: 40px;

  @include mediaUpTo('tablet') {
    background-image: url(../images/decorative/about/milk-mobile.png);
    background-repeat: no-repeat;
    background-position: 35% 75% ;

    @include mediaScreenDensity2x {
      background-image: url('../images/decorative/about/milk-mobile@2x.png');
    }
  }

  

  @include mediaOver('desktop') {
    background-image: url(../images/decorative/about/milk-desktop.png);
    background-repeat: no-repeat;
    background-position: 50% 77% ;

    @include mediaScreenDensity2x {
      background-image: url('../images/decorative/about/milk-desktop@2x.png');
    }
  }

  
  
}

.about__header {
  font-family: titan one, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.14;
  color: getColorFromPalette('accent', 'additional');

  margin: 0;
  margin-bottom: 15px;
  text-align: center;

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 26px;
    line-height: 1.15;
  }

  @include mediaOver('desktop') {
    font-size: 30px;
    line-height: 1.15;
  }
}

.about__title {
  font-family: titan one, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  max-width: 200px;
  text-align: center;
  align-items: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  color:  getColorFromPalette('accent', 'dark');
  

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 48px;
   line-height: 1.15;
   max-width: 429px;
   margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mediaOver('desktop') {
    font-size: 58px;
   line-height: 1.15;
   max-width: 534px;
   margin-top: 0;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__box {
  @include mediaInBetween('tablet', 'desktop') {
    display: flex;
    justify-content: center;
  }
  
  @include mediaOver('desktop') {
    display: flex;
  }
 
}


.about__img {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;

  @include mediaInBetween('tablet', 'desktop') {
    margin-right: 32px;
    margin-bottom: 0;
  }

  @include mediaOver('desktop') {
    margin-right: 99px;
    margin-bottom: 0;
  }
}

.about__text {
  font-family:  DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: getColorFromPalette('primary', 'dark');
  margin: 0;
  margin-bottom: 40px;
  margin-right: 0;
  width: 220px;
  height: 79px;


  @include mediaInBetween('tablet', 'desktop')  {
    font-size: 14px;
   line-height: 1.90;
    width: 334px;
    height: 79px;
    margin-bottom: 40px;
    
  }

  @include mediaOver('desktop') {
    font-size: 16px;
   line-height: 1.76;
    width: 463px;
    height: 79px;
    margin-bottom: 32px;
  }

}

.about__text--color {
  font-family:  DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: getColorFromPalette('primary', 'additional');
  margin: 0;
  
  width: 220px;
  height: 181px;

  @include mediaInBetween('tablet', 'desktop')  {
    width: 334px;
   height: 155px;
    font-size: 14px;
   line-height: 1.76;
  }

  @include mediaOver('desktop') {
    width: 463px;
   height: 155px;
    font-size: 14px;
   line-height: 1.94;
  }
     
}

.about__thumb {
  margin-bottom: 20px;

  @include mediaInBetween('tablet', 'desktop') {
    margin-bottom: 0;
  }

  @include mediaOver('desktop') {
    margin-bottom: 0;
    margin-top: 90px;
  }
}


.about__button {
  font-family:  DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.30;
  width: 176px;
  height: 44px;
  background-color:  getColorFromPalette('primary','light');
  color:  getColorFromPalette('accent', 'dark');

     
  border-radius: 22px;
  border: none;


  @include mediaInBetween('tablet', 'desktop') {
    display: block; font-size: 16px;
   line-height: 1.30;
   margin-top: 40px;
  }

  @include mediaOver('desktop') {
    font-size: 16px;
    line-height: 1.30;
  }
}

.about__button:hover {
  background-color:  getColorFromPalette('hovered', 'main');
}
 

.about__logo {
  margin-left: 14px;
}

img {
  display: block;
}