.contacts {
    padding: 60px 0 40px 0;

    background-color: getColorFromPalette('background', 'light');
    color: getColorFromPalette('primary', 'dark');

    font-family: $secondaryFont;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    @include mediaOver('tablet') {
        font-size: 14px;
    }
}

.contacts__section-title {
    @extend %visually-hidden;
}

.contacts__list {
    @extend %unmarked-list;
    @include mediaOver('tablet') {
        @include cardSet(32px);
    }
}

.contacts__item {
    padding: 40px 32px;
    border-radius: 24px;
    
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    background: getColorFromPalette('primary', 'light');

    @include mediaOver('tablet') {
        @include cardItem(3, 32px);
    }
}

.contacts__item--bottom-indent {
    @include mediaUpTo('tablet') {
        margin-bottom: 20px;
    }}

.contacts__item--bottom-indent-l {
    @include mediaUpTo('tablet') {
        margin-bottom: 32px;
    }
}

.contacts__location-type {
    display: flex;
    align-items: center;
    padding: 0 24px;
    max-height: 16px;
    border-radius: 4px;

    color: getColorFromPalette('primary', 'light');

    text-transform: uppercase;

    @include mediaOver('tablet') {
        padding: 0 15px;
        max-height: 24px;

        font-size: 16px;
    }
}

.contacts__location-type--cafe {
    max-width: 80px;

    background-color: getColorFromPalette('contacts', 'cafe');

    @include mediaOver('tablet') {
        max-width: 74px;
    }
}

.contacts__location-type--food-truck {
    max-width: 130px;

    background-color: getColorFromPalette('contacts', 'food-truck');

    @include mediaOver('tablet') {
        max-width: 138px;
    }
}

.contacts__location-type--bottom-indent {
    margin-bottom: 20px;
}

.contacts__city {
    font-size: inherit;
}

.contacts__city--bottom-indent {
    margin-bottom: 8px;
}

.contacts__place-description {
    max-width: 190px;
    
    color: getColorFromPalette('primary', 'additional');

    line-height: 1.5;

    @include mediaOver('tablet') {
        line-height: 1.66;
    }
}

.contacts__place-description--bottom-indent {
    margin-bottom: 24px;
}

.contacts__list-timetable--lines {
    padding: 24px 0;
    border-top: 1px solid getColorFromPalette('decoration', 'main');
    border-bottom: 1px solid getColorFromPalette('decoration', 'main');
}

.contacts__list-timetable--bottom-indent {
    margin-bottom: 24px;
}

.contacts__item-timetable--bottom-indent {
    margin-bottom: 16px;
}

.contacts__paragraph-time {
    color: getColorFromPalette('accent', 'additional');
}

.contacts__link-information {
    @extend %clean-link;

    &:hover,
    &:focus,
    &:active {
        color: getColorFromPalette('accent', 'dark');
    }
}

.contacts__list-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__button {
    display: flex;
    align-items: center;
    border-radius: 22px;
    outline: none;
    border: none;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    
    &::after {
            content: '>';
            display: block;
            margin-left: 12px;
    
            font-size: 22px;
            font-weight: 700;
            font-family: $secondaryFont;
    }
}

.contacts__button--bottom-indent {
    margin-bottom: 10px;
}

.contacts__button--red {
    padding: 16px 20px;

    background-color: getColorFromPalette('contacts', 'button');
    color: getColorFromPalette('primary', 'light');

    &:hover,
    &:focus,
    &:active {
        background-color: getColorFromPalette('hovered', 'additional');
    }
}

.contacts__button--light {
    padding: 16px 32px;

    background-color: getColorFromPalette('primary', 'light');
    color: getColorFromPalette('contacts', 'button');

    &:hover,
    &:focus,
    &:active {
        background-color: getColorFromPalette('hovered', 'main');
    }
}