  body.js-menu-is-open {
overflow: hidden;
  }


  .menu-header {
    
    
  }
  .container-menu {

    @include mediaOver('desktop') {
      display: none;
    }
  }
  
  .nav-menu {
    
    display: flex;
   
    justify-content: flex-end;
    min-height: 60px;

    @include mediaUpTo('tablet') {
      align-items: center;
    }

    @include mediaOver('desktop') {
      align-items: center;
    }

    
  }
  
  .nav-menu__button-burger {
    
    margin-top: 27px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    // z-index: 10;

    &:hover,
    &:focus {
      fill: getColorFromPalette('hovered', 'additional');
    }

    @include mediaInBetween('tablet', 'desktop') {
      margin-top: 46px;
    }

    @include mediaOver('desktop') {
      display: none;
     }

  }

  .nav-menu__button-close {
    position: absolute;
    display: inline-flex;
    top: 20;
    left: 208;
    margin: 0;
    padding: 0;
    border: none;
    
    background-color: transparent;
    z-index: 100;

    &:hover,
    &:focus {
      fill: getColorFromPalette('hovered', 'main');
    }

    @include mediaOver('desktop') {
      display: none;
     }

   }
  
  .nav-menu__icon-menu {
    // position: absolute;
    display: none;
  }
  
  .is-open .nav-menu__icon-menu {
    display: block;
  }
  
  .is-open .nav-menu__icon-close {
    display: block;
  }
  
  .nav-menu__icon-close {
    display: none;
   
    overflow: hidden;
    
  }
  
 
    .menu-container {
    // position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background-color: rgba(0,0,0,0.3);
    background-color: rgba(getColorFromPalette('primary', 'dark'), 0.3);
    overflow-y: scroll;
    z-index: 2;

    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    // cubic-bezier(0.4, 0, 0.2, 1)

    transition: opacity 250ms linear, visibility 250ms linear;
     


    }
    .menu-container.is-open {
      opacity: 1;
      visibility: visible;
    pointer-events: initial;
    }
  
  
  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
  
    background-color: getColorFromPalette('menu', 'main');
    height: 100%;
    padding-top: 58px;
    overflow: auto;

    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;

    

    transform: translateX(-100%);
    
    transition: transform 250ms linear 250ms;
    
     
           
      @include mediaInBetween('tablet', 'desktop') {
        width: 260px;
        flex-direction: column;
   
    background-color: getColorFromPalette('menu', 'main');
    height: 100%;
    padding-top: 58px;
      }

   }

  .menu-container.is-open .menu {
    transform: translateX(0);
  }
  
  

 .menu-header__button {
  
  margin: 0;
  padding: 0;
  
  font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.31;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
width: 186px;
height: 44px;
cursor: pointer;

color: getColorFromPalette('accent','dark');
background-color: getColorFromPalette('primary','light');
border: none;
border-radius: 22px;

flex-shrink: 0;

&:hover,
&:focus {
  color: getColorFromPalette('hovered','additional');
  background-color: getColorFromPalette('hovered','main');
}

 }
.menu-header__button-menu {
  margin-left: 34px;
  margin-right: 34px;
}

.menu-header__button-tablet {
 
 @include mediaUpTo('tablet') {
  display: none;
}

  @include mediaInBetween('tablet', 'desktop'){
    margin-top: 32px;
    margin-left: 32px;
    }
  
    @include mediaOver('desktop') {
      margin-top: 40px;
      
    }

  }

    .menu__nav-group {
     
    // display: flex;
    display: block;
    flex-direction: column;
    text-align: start;
    padding: 0;
    
    margin-top: 20px;
    margin-bottom: 0;
    
    }
  .menu__item {
      @extend %unmarked-list;
    }
    
  .menu__link {
    display: block;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 14px;
    height: 42px;
    
    border-bottom: 1px solid getColorFromPalette('menu', 'additional');
    font-size: 14px;
    line-height: 1.28;
    // display: flex;
    align-items: center;

    color: getColorFromPalette('primary','light');

   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:first-child{
      border-top: 1px solid getColorFromPalette('menu', 'additional');
    }

    &:hover,
    &:focus {
      color: getColorFromPalette('accent','dark');
    }

    &--current {
      color: getColorFromPalette('accent','dark');
    }

     }


  .nav-desktop {

    @include mediaUpTo('tablet') {
      display: none;
    }

    @include mediaInBetween('tablet', 'desktop') {
      display: none;
    }

    @include mediaOver('desktop') {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 141px;
    }
  }
  
  .nav-desktop__nav-group {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  
  }

  .nav-desktop__item {
    list-style: none;
    padding-left: 35px;
    

    &:first-child {
      padding-left: 0;
    }
    
  }

  .nav-desktop__link {
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.31;

display: flex;
align-items: center;

color: getColorFromPalette('primary','dark');

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
      color: getColorFromPalette('accent','dark');
    }

    &--current {
      color: getColorFromPalette('accent','dark');
    }

  }



 
  
   
  
   


  
    
 