.header {
  height: 502px;
  background-color: getColorFromPalette('accent', 'light');

  @include mediaOver('tablet') {
    height: 416px;
  }
  &-conteiner {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    @include mediaInBetween('mobile', 'tablet') {
      max-width: 480px;
    }

    padding-top: 8px;
    padding-bottom: 158px;

    @include mediaOver('tablet') {
      position: relative;
      height: 416px;
      padding: 32px 32px 0 32px;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 136px;
  @include mediaOver('tablet') {
    margin-bottom: 20px;
  }
}
.logo {
}
.header__nav-list {
  display: none;
  @include mediaOver('desktop') {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__nav-item {
}
.header__nav-link {
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  @include mediaOver('tablet') {
    margin-left: auto;
    margin-right: 32px;
  }
}
.mobile-toggle__icon {
  width: 20px;
  height: 12px;
}

.button-modal {
  display: none;

  @include mediaOver('tablet') {
    display: inline-block;
    text-align: center;
    padding: 12px 37px;
    color: getColorFromPalette('accent', 'dark');
    background-color: getColorFromPalette('primary', 'light');
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    cursor: pointer;
    border: none;
    border-radius: 22px;
    &:hover,
    &:focus {
      background-color: getColorFromPalette('hovered', 'main');
    }
  }
}
.header__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 218px;
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColorFromPalette('primary', 'light');
  @include mediaOver('tablet') {
    font-size: 22px;
    line-height: 1.13;
  }
}
.header__title--red {
  font-size: 48px;
  color: getColorFromPalette('accent', 'dark');
  @include mediaOver('tablet') {
    font-size: 34px;
    line-height: 0.9;
  }
}
.header__links {
}
.header__link {
  display: inline-block;
  text-decoration: none;
  padding: 11px 23px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  border-radius: 20px;
  &--red {
    background-color: getColorFromPalette('accent', 'dark');
    color: getColorFromPalette('primary', 'light');
  }
  &--white {
    background-color: getColorFromPalette('primary', 'light');
    color: getColorFromPalette('accent', 'dark');
  }
}

.header__circle {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: getColorFromPalette('accent', 'additional');
  @include mediaOver('tablet') {
    top: 0;
    right: 383px;
    width: 335px;
    height: 333px;
  }
}
.header-icecream {
  position: absolute;
  top: 92px;
  left: 117px;
  @include mediaOver('tablet') {
    top: 80px;
    left: 322px;
  }
}
.header__milk-image {
  display: none;
  @include mediaOver('tablet') {
    display: block;
    position: absolute;
    top: 246px;
    left: 38px;
  }
  @include mediaOver('desktop') {
    position: absolute;
    bottom: 60px;
    left: 16px;
  }
}
.header__girl-image {
  display: none;
  @include mediaOver('tablet') {
    display: block;
    position: absolute;
    bottom: 9px;
    right: 17px;
  }
  @include mediaOver('desktop') {
    position: absolute;
    bottom: 0;
    right: 16px;
  }
}
.header__slider-text {
  display: none;
  @include mediaOver('tablet') {
    display: block;
    position: absolute;
    max-width: 114px;
    top: 287px;
    left: 184px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: getColorFromPalette('primary', 'light');
  }
  @include mediaOver('desktop') {
  }
}
.header__slider-button {
  display: none;
  @include mediaOver('tablet') {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    font-size: 8px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: getColorFromPalette('primary', 'light');
    color: getColorFromPalette('accent', 'dark');
    top: 342px;
    left: 184px;
  }
  @include mediaOver('desktop') {
  }
}
.header__numbers {
  position: absolute;
  right: 32px;
  top: 92px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: getColorFromPalette('primary', 'light');
}
.header__numbers-cafes {
  display: block;
  margin: 0;
  text-align: right;
  margin-bottom: 15px;
}
.header__numbers-cafes--accent {
  position: relative;
  font-family: 'Titan One';
  font-size: 28px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColorFromPalette('accent', 'dark');
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: getColorFromPalette('primary', 'light');
  }
}
.header__numbers-trucks {
  display: block;
  margin: 0;
  text-align: left;
}
.header__numbers-trucks--accent {
  position: relative;
  font-family: 'Titan One';
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColorFromPalette('accent', 'dark');
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: getColorFromPalette('primary', 'light');
  }
}
