.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
.products_text {
  font-family: 'Titan One';
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
  text-align: center;
  text-transform: uppercase;

  color: getColorFromPalette('accent', 'additional');
}
.products_title {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 15px;

  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.15;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
  }

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColorFromPalette('accent', 'dark');
}
.product-cards {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.product-cards_card:hover .overlay {
  transform: translatex(0);
  z-index: 10;
}
.overlay {
  position: absolute;
  overflow: scroll;
  bottom: 0;
  left: 0;
  padding: 25px 10px;
  width: 100%;
  height: calc(100% - 140px);
  border-radius: 24px;
  background-color: #ffb8ca;

  transform: translatex(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-cards__item {
  perspective: 400px;

  @media screen and (max-width: 767px) {
    min-width: 280px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 16px) / 3);
    & + & {
      margin-left: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 12 * 4 - 1 * 32px);
    & + & {
      margin-left: 32px;
    }
  }
}

.product-cards__card {
  position: relative;

  transform-origin: bottom right;
  transform-style: preserve-3d;

  transition: createTransitionFor('transform', 1s);

  &.is-flipped {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
  }

  @media screen and (max-width: 767px) {
    height: 629px;
  }

  @media screen and (min-width: 768px) {
    height: 611px;
  }

  @media screen and (min-width: 1200px) {
    height: 796px;
  }
  // outline: 2px solid tomato;
}

.product-cards_card-face {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  width: 100%;
  padding-bottom: 40px;

  backface-visibility: hidden;
  z-index: 7;

  border-radius: 24px;

  @include mediaOver('desktop') {
    padding-bottom: 60px;
  }

  &--front {
    bottom: 0;

    @media screen and (max-width: 767px) {
      height: 489px;
      padding-top: 160px;
    }

    @media screen and (min-width: 768px) {
      height: 473px;
      padding-top: 118px;
    }

    @media screen and (min-width: 1200px) {
      height: 535px;
      padding-top: 165px;
    }
  }

  &--back {
    top: 0;
    height: 100%;
    padding-top: 40px;
    overflow-y: auto;
    overflow-x: clip;

    transform: rotateY(180deg);

    @include mediaOver('desktop') {
      padding-top: 60px;
    }
  }

  &--icecream {
    background-color: #ffb8ca;
  }
  &--icecoffee {
    background-color: #f0d1a5;
  }
  &--milkshakes {
    background-color: #c2e297;
  }
}

.product-cards_card-face--front::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 6px;
  transform: translateX(-50%);
  left: 50%;
  @media screen and (max-width: 767px) {
    bottom: 268px;
  }
  @media screen and (min-width: 768px) {
    bottom: 294px;
  }
  @media screen and (min-width: 1200px) {
    bottom: 298px;
  }
  background-image: url(/src/images/decorative/products/Group\ 4.png);
}

.product-cards_card-face--front::before {
  display: inline-block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  content: '';

  z-index: 5;

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 280px;
    bottom: 349px;
  }
  @media screen and (min-width: 768px) {
    width: 224px;
    height: 224px;
    bottom: 387px;
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
    height: 394px;
    bottom: 402px;
  }
}

@media screen and (max-width: 767px) {
  .product-cards_card-face--icecream::before {
    background-image: url(/src/images/decorative/products/products_mobile/home-pic1.png);
  }
  .product-cards_card-face--icecoffee::before {
    background-image: url(/src/images/decorative/products/products_mobile/home-pic2.png);
  }
  .product-cards_card-face--milkshakes::before {
    background-image: url(/src/images/decorative/products/products_mobile/home-pic3.png);
  }
}

@media screen and (min-width: 768px) {
  .product-cards_card-face--icecream::before {
    background-image: url(/src/images/decorative/products/products_tablet/home-pic1.png);
  }
  .product-cards_card-face--icecoffee::before {
    background-image: url(/src/images/decorative/products/products_tablet/home-pic2.png);
  }
  .product-cards_card-face--milkshakes::before {
    background-image: url(/src/images/decorative/products/products_tablet/home-pic3.png);
  }
}

@media screen and (min-width: 1200px) {
  .product-cards_card-face--icecream::before {
    background-image: url(/src/images/decorative/products/products_desktop/home-pic1.png);
  }
  .product-cards_card-face--icecoffee::before {
    background-image: url(/src/images/decorative/products/products_desktop/home-pic2.png);
  }
  .product-cards_card-face--milkshakes::before {
    background-image: url(/src/images/decorative/products/products_desktop/home-pic3.png);
  }
}

.product-cards_title {
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColorFromPalette('primary', 'light');
}

// .box {
//   position: absolute;
//   overflow: hidden;
//   // outline: 2px solid tomato;
//   @media screen and (max-width: 767px) {
//     left: 40px;
//     bottom: 112px;
//     width: 200px;
//     height: 124px;
//   }
//   @media screen and (min-width: 768px) {
//     left: 32px;
//     bottom: 112px;
//     width: 160px;
//     height: 150px;
//   }
//   @media screen and (min-width: 1200px) {
//     left: 64px;
//     bottom: 160px;
//     width: 241px;
//     height: 106px;
//   }
// }
.product-cards_text {
  margin-top: 70px;

  font-family: 'DM Sans';
  font-weight: 700;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.52;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    padding-left: 64px;
    padding-right: 64px;
  }
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  &--backface {
    @include mediaOver('tablet') {
      margin: 0;
    }
  }
}

.product-cards_card-button {
  position: sticky;
  bottom: 0;
  display: block;
  margin: auto auto 0;
  width: 40px;
  height: 40px;

  // background-image: url(/src/images/arrow-right\ 4.png);
  color: red;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &--mirrored {
    transform: scaleX(-1);
  }
}
