.to-top-button {
  @extend %rounded;

  position: fixed;
  display: block;
  right: 30px;
  bottom: 60px;
  width: 40px;
  height: 40px;
  z-index: 10;

  font-size: 25px;
  font-weight: 500;
  line-height: 1;

  color: getColorFromPalette('menu', 'additional');
  background-color: #0000004d;
  box-shadow: 3px 7px 17px 0px #aaaaaaa8;

  border: none;
  cursor: pointer;

  transition: createTransitionFor('opacity');

  @include mediaOver('tablet') {
    right: 60px;
    bottom: 61px;
    width: 60px;
    height: 60px;

    font-size: 40px;
    border-width: 3px;
  }

  @include mediaOver('desktop') {
    right: 70px;
    width: 70px;
    height: 70px;

    font-size: 54px;
    border-width: 4px;
  }

  &.js-transparent {
    opacity: 0;
    pointer-events: none;
  }

  &:not(.js-transparent) {
    animation: fade-bottom-to-top 2s ease-in-out infinite alternate both;
  }
}
